.Wrap {
  text-align: center;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.Search {
  margin-top: 10rem;
  position: relative;
  display: flex;
}

.SearchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: medium;
  color: #31483d;
}